<mat-progress-bar *ngIf="isLoading" mode="query" class="mt-20"></mat-progress-bar>
<mat-card class="mt-10" *ngIf="quizzes.length == 0 && !isLoading">
    <mat-card-header>
        <h1 class="text-center">No Quizzes Found</h1>
    </mat-card-header>
</mat-card>
<div *ngIf="quizzes.length != 0">
    <mat-card class="mt-10" *ngFor="let quiz of quizzes">
        <div class="row">
            <div class="col-md-10">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>
                        {{ quiz.title }}
                        
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{ quiz.category.title }}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>{{ quiz.description }}</p><span class="badge bg-{{ quiz.active ? 'success' : 'danger'}}">{{ quiz.active ? 'ACTIVE' : 'INACTIVE' }}</span>
                </mat-card-content>
                <mat-card-action>
                    <button mat-raised-button color="primary">
                        <mat-icon>quiz</mat-icon>
                        Questions
                    </button>
                    <button mat-stroked-button color="primary" class="ml-20">Total Marks: {{ quiz.maxMarks }}</button>
                    <button mat-stroked-button color="primary" class="ml-20">Questions: {{ quiz.numberOfQuestions }}</button>
                    <button mat-stroked-button color="primary" class="ml-20">Attempts: 0</button>
                    <button mat-flat-button color="accent" class="ml-20" [routerLink]="'/admin/edit-quiz/' + quiz.qid">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>

                </mat-card-action>
            </div>
            <div class="col-md-2 mt-20">
                <button mat-fab color="warn" (click)="deteleQuiz(quiz.qid)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>
</div>
<div class="container text-center mt-20">
    <button mat-raised-button color="primary" routerLink="/admin/add-quiz">Add New Quiz</button>
</div>
