<mat-progress-bar *ngIf="isLoading" mode="query" class="mt-20"></mat-progress-bar>
<div class="bootstrap-wrapper" *ngIf="question.questionId">
    <div class="row mt-20">
        <div class="col-md-12">
            <h1 class="text-center">Update Question</h1>
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        <h2>Enter the details of updated Question</h2>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form #updateQuestionForm="ngForm" class="mt-20" (ngSubmit)="updateQuestion()">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Write Question Content</mat-label>
                            <textarea 
                                matInput 
                                [(ngModel)]="question.content"
                                name="content"
                                #content="ngModel"
                                placeholder="Enter question content here" 
                                required>
                            </textarea>
                        </mat-form-field>
                        <div *ngIf="content.invalid && content.touched" class="alert alert-danger">
                            <div *ngIf="content.errors.required">Question content is required</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Enter Option 1</mat-label>
                                    <input 
                                        type="text" 
                                        [(ngModel)]="question.option1"
                                        name="option1" 
                                        #option1="ngModel"
                                        matInput 
                                        required 
                                        placeholder="Enter option 1 here" 
                                    />
                                </mat-form-field>
                                <div *ngIf="option1.invalid && option1.touched" class="alert alert-danger">
                                    <div *ngIf="option1.errors.required">Option 1 is required</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Enter Option 2</mat-label>
                                    <input 
                                        type="text" 
                                        [(ngModel)]="question.option2"
                                        name="option2" 
                                        #option2="ngModel"
                                        matInput 
                                        required 
                                        placeholder="Enter option 2 here" 
                                    />
                                </mat-form-field>
                                <div *ngIf="option2.invalid && option2.touched" class="alert alert-danger">
                                    <div *ngIf="option2.errors.required">Option 2 is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Enter Option 3</mat-label>
                                    <input 
                                        type="text" 
                                        [(ngModel)]="question.option3"
                                        name="option3" 
                                        #option3="ngModel"
                                        matInput 
                                        required 
                                        placeholder="Enter option 3 here" 
                                    />
                                </mat-form-field>
                                <div *ngIf="option3.invalid && option3.touched" class="alert alert-danger">
                                    <div *ngIf="option3.errors.required">Option 3 is required</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Enter Option 4</mat-label>
                                    <input 
                                        type="text" 
                                        [(ngModel)]="question.option4"
                                        name="option4" 
                                        #option4="ngModel"
                                        matInput 
                                        required 
                                        placeholder="Enter option 4 here" 
                                    />
                                </mat-form-field>
                                <div *ngIf="option4.invalid && option4.touched" class="alert alert-danger">
                                    <div *ngIf="option4.errors.required">Option 4 is required</div>
                                </div>
                            </div>
                        </div>
                        <mat-form-field class="w50">
                            <mat-label>Select Answer</mat-label>
                            <mat-select [(ngModel)]="question.answer" name="answer" #answer="ngModel" required>
                                <mat-option *ngIf="question.option1" [value]="question.option1" >{{ question.option1 }}</mat-option>
                                <mat-option *ngIf="question.option2" [value]="question.option2" >{{ question.option2 }}</mat-option>
                                <mat-option *ngIf="question.option3" [value]="question.option3" >{{ question.option3 }}</mat-option>
                                <mat-option *ngIf="question.option4" [value]="question.option4" >{{ question.option4 }}</mat-option>
                            </mat-select>
                            <div *ngIf="answer.invalid && answer.touched" class="alert alert-danger">
                                <div *ngIf="answer.errors.required">Answer is required</div>
                            </div>
                        </mat-form-field>
                        <div class="container text-center">
                            <button mat-raised-button color="primary" [disabled]="!updateQuestionForm.valid">Update Question</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>