<mat-toolbar color="primary">
  <button 
    mat-icon-button class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </button>
  <span>ExamPortal</span>
  <span class="example-spacer"></span>
  <div class="navbar-links">
    <button 
    mat-raised-button
    color="primary"
    *ngIf="!isLoggedIn"
    class="mr-20"
    routerLink="/login">
    <!-- <mat-icon>login</mat-icon> -->
    Login
  </button>
    <button 
    mat-raised-button
    color="primary"
      *ngIf="!isLoggedIn"
      routerLink="/signup">
      <!-- <mat-icon>auto_stories</mat-icon> -->
    Register
    </button>
    <button 
      *ngIf="isLoggedIn && user"
      mat-raised-button
      color="primary"
      >
      <!-- <mat-icon>auto_stories</mat-icon> -->
      {{ user.username }}
    </button>
    <button
      *ngIf="isLoggedIn"
      mat-raised-button
      color="primary"
      (click)="logout()">
      <!-- <mat-icon>auto_stories</mat-icon> -->
      Logout
    </button>
  </div>
  
</mat-toolbar>