<mat-card>
    <h1 class="text-center">Your Profile Details</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img 
                        src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg" 
                        alt="profile_pic"
                        class="profile-image"
                    >
                    <h1 class="mt-20">Username Here</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table">
                            <tr>
                                <td>Username</td>
                                <td>username here</td>
                            </tr>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>